<!DOCTYPE html>
<html>
<head>
  <title>HolidayWorkday</title>
  <%= stylesheet_link_tag    "holiday_workday/application", media: "all" %>
  <%= javascript_include_tag "holiday_workday/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
